<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3 profile">
            <h1><%= user.username %></h1>
            <img src="<%= user.avatar %>" alt="User Avatar" class="img-circle profile-img">
            <br>
            <h4><%= user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1) %> <%= user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1) %></h4>
            <p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>        
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 profile">
            <h2>List of campgrounds created by <%= user.username %></h2><br>
            <% if (campgrounds.length === 0 && currentUser.username !== user.username) { %>
                <h4>User has not created any campgrounds yet.</h4>
            <% } %>
            <% if (campgrounds.length === 0 && currentUser.username === user.username) { %>
                <br>
                <h4>You have not created any campgrounds yet.</h4>
                <p><a href="/campgrounds/new">Click here</a> to start creating some campgrounds!</p>
            <% } if (campgrounds.length>0) { %>
                <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                    <% campgrounds.forEach(function(campground){ %>
                        <div class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <img src = "<%= campground.image %>">
                                <div class="caption">
                                    <h4><a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h4>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>